astor==0.8.1
numpy==1.22.0
openai==0.6.3
tqdm==4.60.0
transformers==4.30.0
Pebble==4.6.1

# we ran with Python version sys.version = '3.6.9 (default, Jan 26 2021, 15:33:00) \n[GCC 8.4.0]'
# distro-info===0.18ubuntu0.18.04.1
